<div *ngIf="isLoading; else content">Cargando datos...</div>

<ng-template #content>
  <!-- app.component.html -->

  <div
    fxLayout="row"
    fxLayout.gt-sm="column"
    fxLayoutAlign="center center"
    class="container"
  >
    <!-- Search Input -->
    <mat-form-field appearance="fill" class="search-input">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Buscar" />
    </mat-form-field>

    <!-- Select Input -->
    <mat-form-field appearance="fill" class="select-input">
      <mat-icon matPrefix>category</mat-icon>
      <mat-select placeholder="Seleccionar">
        <mat-option value="opcion1">Opción 1</mat-option>
        <mat-option value="opcion2">Opción 2</mat-option>
        <mat-option value="opcion3">Opción 3</mat-option>
        <mat-option value="opcion4">Opción 4</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Filter Input -->
    <mat-form-field appearance="fill" class="filter-input">
      <mat-icon matPrefix>filter_list</mat-icon>
      <input matInput placeholder="Filtrar" />
    </mat-form-field>
  </div>

  <ng-container *ngIf="selected$ | async as selectedCharacters">
    <button [disabled]="selectedCharacters.length === 0">
      {{ selectedCharacters.length }} elementos seleccionados
    </button>
    <button
      [disabled]="selectedCharacters.length === 0"
      class="m-4"
      (click)="clearSelected()"
    >
      Resetear
    </button>
  </ng-container>

  <mat-card
    class="cardWithShadow theme-card"
    [class.selected]="isSelected(character.id)"
    *ngFor="let character of characters$ | async"
    (click)="selectCharacter(character.id)"
  >
    <mat-card-content>
      <mat-card-header class="title-container">
        <div>
          <mat-icon
            class="mat-icon-rtl-mirror"
            (click)="toggleFavorite(character.id)"
          >
            <span *ngIf="isFavorite(character.id)" class="favorite-icon"
              >favorite</span
            >
            <span *ngIf="!isFavorite(character.id)" class="not-favorite-icon"
              >favorite_border</span
            >
          </mat-icon>
        </div>
      </mat-card-header>

      <div class="info-character">
        <img [src]="character.image" alt="{{ character.name }}" />

        <div class="box-character">
          <p class="box-character-name">{{ character.name }}</p>
          <div class="box-character-descriptions">
            <div>
              <span class="highlight">Status:</span> {{ character.status }}
            </div>
            <div>
              <span class="highlight">Location:</span>
              {{ character.location.name }}
            </div>
            <div>
              <span class="highlight">Species:</span> {{ character.species }}
            </div>
            <div>
              <span class="highlight">Gender:</span> {{ character.gender }}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="button-onNextPage">
    <div></div>
    <button
      [disabled]="isLoading"
      (click)="onNextPage()"
      mat-flat-button
      color="primary"
      class="d-flex justify-content-center"
    >
      Ver más
    </button>
  </div>
</ng-template>
