<div *ngIf="isLoading; else content">Cargando datos...</div>

<ng-template #content>
  <div class="container">
    <!-- Search Input -->
    <mat-form-field class="custom-input search-input" [appearance]="'outline'">
      <mat-icon matPrefix class="blue-icon">search</mat-icon>
      <input matInput placeholder="Buscar" class="white-background" />
    </mat-form-field>

    <!-- Select Input -->
    <mat-form-field
      class="custom-input search-input2"
      appearance="fill"
      [appearance]="'outline'"
    >
      <mat-icon matPrefix class="blue-icon">category</mat-icon>
      <mat-select placeholder="Seleccionar">
        <mat-option value="option1">Opción 1</mat-option>
        <mat-option value="option2">Opción 2</mat-option>
        <mat-option value="option3">Opción 3</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Filter Input -->
    <mat-form-field
      class="custom-input search-input3"
      appearance="fill"
      [appearance]="'outline'"
    >
      <mat-icon matPrefix class="blue-icon">filter_list</mat-icon>
      <input matInput placeholder="Filtrar" class="white-background" />
    </mat-form-field>
  </div>

  <ng-container *ngIf="selected$ | async as selectedCharacters">
    <div style="margin-bottom: 1rem">
      <a
        routerLink="/characters/selected"
        [disabled]="selectedCharacters.length === 0"
        mat-flat-button
        color="primary"
      >
        ({{ selectedCharacters.length }}) see details
      </a>
      <button
        mat-flat-button
        color="primary"
        [disabled]="selectedCharacters.length === 0"
        class="m-4"
        (click)="clearSelected()"
      >
        reset
      </button>
    </div>
  </ng-container>

  <mat-card
    class="cardWithShadow theme-card"
    [class.selected]="isSelected(character.id)"
    *ngFor="let character of characters$ | async"
    (click)="selectCharacter(character.id)"
  >
    <mat-card-content>
      <mat-card-header class="title-container">
        <div>
          <mat-icon
            class="mat-icon-rtl-mirror"
            (click)="toggleFavorite(character.id)"
          >
            <span *ngIf="isFavorite(character.id)" class="favorite-icon"
              >favorite</span
            >
            <span *ngIf="!isFavorite(character.id)" class="not-favorite-icon"
              >favorite_border</span
            >
          </mat-icon>
        </div>
      </mat-card-header>

      <div class="info-character">
        <img [src]="character.image" alt="{{ character.name }}" />

        <div class="box-character">
          <p class="box-character-name">{{ character.name }}</p>
          <div class="box-character-descriptions">
            <div>
              <span class="highlight">Status:</span> {{ character.status }}
            </div>
            <div>
              <span class="highlight">Location:</span>
              {{ character.location.name }}
            </div>
            <div>
              <span class="highlight">Species:</span> {{ character.species }}
            </div>
            <div>
              <span class="highlight">Gender:</span> {{ character.gender }}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="button-onNextPage">
    <div></div>
    <button
      [disabled]="isLoading"
      (click)="onNextPage()"
      mat-flat-button
      color="primary"
      class="d-flex justify-content-center"
    >
      Ver más
    </button>
  </div>
</ng-template>
