<div *ngIf="selected$ | async as selectedCharacters">
  <h3 *ngIf="selectedCharacters.length === 0">
    No se ha seleccionado ningún personaje
  </h3>
</div>

<div class="selected-section">
  <div class="card-grid" *ngFor="let selectedCharacter of selected$ | async">
    <mat-card class="card">
      <div class="card-image-wrapper">
        <img
          [src]="selectedCharacter.image"
          alt="{{ selectedCharacter.name }}"
          class="card-image"
        />
        <div class="card-info">
          <mat-card-title class="mat-headline-1 f-s-16 m-b-2 italic">
            {{ selectedCharacter.name }}
          </mat-card-title>

          <mat-card-title class="f-s-10 m-b-2">
            Species: {{ selectedCharacter.species }}
          </mat-card-title>

          <mat-card-title class="f-s-10 m-b-2">
            Gender: {{ selectedCharacter.gender }}
          </mat-card-title>

          <mat-card-title class="f-s-10 m-b-2">
            Location: {{ selectedCharacter.location.name }}
          </mat-card-title>
        </div>
      </div>
    </mat-card>
  </div>
</div>
