<div *ngIf="isLoading; else content">
  <!-- Muestra el loading spinner aquí -->
  Cargando datos...
</div>

<ng-template #content>
  <!-- Usando ng-container para obtener la longitud de selected$ -->
  <ng-container *ngIf="selected$ | async as selectedCharacters">
    <button [disabled]="selectedCharacters.length === 0">
      {{ selectedCharacters.length }} elementos seleccionados
    </button>
    <button
      [disabled]="selectedCharacters.length === 0"
      class="m-4"
      (click)="clearSelected()"
    >
      Resetear
    </button>
  </ng-container>

  <div
    class="card-container"
    infinite-scroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()"
  >
    <div
      *ngFor="let character of characters$ | async"
      class="card"
      (click)="selectCharacter(character.id)"
    >
      <img [src]="character.image" alt="{{ character.name }}" />
      <p>{{ character.name }}</p>
      <button (click)="toggleFavorite(character.id)" class="card-button">
        Toggle Favorite
      </button>
      <p *ngIf="isFavorite(character.id)" class="favorite">Es favorito</p>
      <p *ngIf="!isFavorite(character.id)">No es favorito</p>
    </div>
  </div>
</ng-template>
