<div *ngIf="selected$ | async as selectedCharacters">
  <h6 *ngIf="selectedCharacters.length === 0">
    No se ha seleccionado ningún personaje
  </h6>
</div>

<div class="selected-section">
  <div *ngFor="let selectedCharacter of selected$ | async" class="card">
    <img [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}" />
    <p>{{ selectedCharacter.name }}</p>
    <button
      (click)="deselectCharacter(selectedCharacter.id)"
      class="card-button"
    >
      Remover Selección
    </button>
  </div>
</div>
