
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: calc(20% - 30px); // Calcula el ancho para 5 tarjetas en una fila
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .favorite {
    color: red;
    font-size: 18px;
  }
}

// Estilos para el botón dentro de la tarjeta
.card-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0d47a1;
  }
}
