<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex flex-column w-100">
          <mat-card-title>Rick And Morty</mat-card-title>
          <p>
            "Explora el multiverso de la diversión con Geeks Castle, tu
            santuario API de Rick and Morty. ¡Guarda tus momentos favoritos y
            sumérgete en las páginas de aventuras intergalácticas del libro de
            Rick y Morty!"
          </p>
          <div class="m-l-auto">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <i-tabler name="dots-vertical"></i-tabler>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>
                <span>Ciencia Ficción</span>
              </button>
              <button mat-menu-item>
                <span>Comedia Absurda</span>
              </button>
              <button mat-menu-item>
                <span>Aventuras Interdimensionales</span>
              </button>
              <button mat-menu-item>
                <span>Parodia y Referencias</span>
              </button>
              <button mat-menu-item>
                <span>Drama Familiar</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
